#quicksand-heading {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
body{
    margin: 0;
    height: 100vh;
    background-color: hsl(4, 88%, 95%);
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url("./Images/bg-cream.jpg");
}
#heading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: "Quicksand", sans-serif;
}

.calc-bg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator{
    font-family: "Quicksand", sans-serif;
    background-color: hsl(4, 88%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    margin-bottom: 50px;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(4, 88%, 20%);
    color: white;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
    font-family: "Quicksand", sans-serif;
}
#key-bottom{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 0px;
    column-gap: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    font-family: "Quicksand", sans-serif;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(4, 88%, 33%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(4, 88%, 40%);
}
button:active{
    background-color: hsl(4, 88%, 50%);
}
.operator-btn{
    background-color: hsl(35, 100%, 72%);
}
.operator-btn:hover{
    background-color: hsl(35, 100%, 65%);
}
.operator-btn:active{
    background-color: hsl(35, 100%, 75%);
}